body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 40px 0 0 0;
  background-color: rgb(231, 230, 230);
  /* background: url(../src/images/theatre.jpg);
  background-position: center;
  background-size: cover; */
}

.radioBtns {
  display: flex;
  justify-content: space-evenly;
}

label {
  font-size: 24px;
}

#searchShows,
#searchActors {
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
}

.searchInputBox {
  margin: 1.2em 1.2em 0 0;
  height: 2.3em;
  width: 30em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #1d1d1d;
}

#searchBtn {
  margin: 10px;
  height: 2.4em;
  width: 6em;
  border-radius: 10px;
  border: 0px groove #111;
  box-shadow: 2px 2px 2px #1d1d1d;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.searchItems {
  margin-top: 20px;
}
/* .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.navlinks {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.navigation {
  margin: 0 auto;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 3.5px 3.5px 5px #1d1d1dbb;
  border-radius: 20px;
}

.linkItem:hover {
  font-size: 20px;
}

/* For the loading message */

.load {
  margin: 0 auto;
  margin-top: 200px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 15px solid rgb(200, 200, 200);
  border-bottom: 15px solid rgb(0, 120, 240);
  animation: loading 1.2s ease infinite;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.FullInfo {
  display: flex;
  padding: 0 0 0 40px;
  flex-wrap: wrap;
}

.Details_page_span,
.Seasons_page_span {
  font-weight: 700;
  font-size: 18px;
}

.Other-Details,
.details_section,
.summary_section,
.cast_section,
.seasons_detail,
.Cast_Details {
  padding-left: 40px;
}

.Image-section {
  border-radius: 20px;
  overflow: hidden;
  border: 3px groove grey;
  margin-right: 30px;
}

.Season_num {
  text-decoration: underline;
  font-size: 22px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.Other-Details,
.seasons_detail,
.Cast_Details {
  margin-bottom: 60px;
}

.Cast_Details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cast-content {
  margin: 0 auto;
  margin-bottom: 60px;
  margin-right: 20px;
}

.cast-image {
  border: 5px groove rgb(134, 134, 134);
  border-radius: 10px;
}

.cast-name {
  margin: 0 auto;
}

.checked {
  color: rgb(241, 205, 0);
}

.genre-title,
.Lang {
  font-size: 22px;
  font-weight: 800;
}

.genre-style {
  display: inline-flex;
  flex-wrap: wrap;
}

.genre-keys {
  margin: 5px 0 0 10px;
  background-color: rgb(142, 255, 138);
  color: rgb(15, 66, 0);
  padding: 1px 10px 1px 10px;
  border-radius: 20px;
  border: 1px solid rgb(6, 66, 0);
  cursor: pointer;
}
.show-Title {
  color: #df2f45;
  margin-bottom: 90px;
}

.show-Heading {
  font-size: 50px;
  font-weight: 500;
}
