body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 40px;
  background-color: rgb(231, 230, 230);
}

.radioBtns {
  display: flex;
  justify-content: space-evenly;
}

label {
  font-size: 24px;
}

#searchShows,
#searchActors {
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
}

.searchInputBox {
  margin: 1.2em 1.2em 0 0;
  height: 2.3em;
  width: 30em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #1d1d1d;
}

#searchBtn {
  height: 2.4em;
  width: 6em;
  border-radius: 10px;
  border: 0px groove #111;
  box-shadow: 2px 2px 2px #1d1d1d;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.navlinks {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.linkItem:hover {
  font-size: 20px;
}
